GOOGLE_API_KEY=
GOOGLE_API_KEY2=
OPENAI_KEY=
# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DB=lndata_db
PG_USER=lndata
PG_PASSWORD=lndata_secret

# Embedding Model
EMBEDDING_MODEL=BAAI/bge-base-zh-v1.5
USER_ROLE=admin